In [1]:
import pandas as pd
from pathlib import Path

In [34]:
budget_data_csv = Path("Resources/budget_data.csv") 
budget_data_df = pd.read_csv(budget_data_csv)

In [35]:
budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [36]:
print(budget_data_df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [37]:
profit_losses = list(budget_data_df["Profit/Losses"])
print(profit_losses)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [6]:
date = list(budget_data_df["Date"])
print(date)

['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']

# The total number of months included in the dataset

In [40]:
#remove header
print(f"Total Months: {len(budget_data_df)-1}")

Total Months: 85

# The net total amount of Profit/Losses over the entire period

In [8]:
profit_losses = list(budget_data_df["Profit/Losses"])
print(profit_losses)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [21]:
#def net_total(profit):
    sum_profit = 0
    profit_losses = list(budget_data_df["Profit/Losses"])
    
    for profit_losses in budget_data_df:
        sum_profit += profit_losses
    return sum_profit

sum_total = net_total(profit_losses)

IndentationError: unexpected indent (751552199.py, line 2)

In [31]:
sum_profit = 0

for x in budget_data_df["Profit/Losses"]:
    sum_profit += x
sum_profit

38382578

In [30]:
sum_profit = 0
profit_losses = list(budget_data_df["Profit/Losses"])
    
for profit_losses in budget_data_df:
    sum_profit += profit_losses
sum_profit

sum_total = net_total(profit_losses)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [18]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

# The average of the changes in Profit/Losses over the entire period

In [10]:
# 1 extract list
# inside list : loop n and n-1 refer to python activity 
# loop for profit in profits_losses
#(n-(n-1))
#2. sum list / len(amounts in list should be -1 compared to OG list because changes), z

In [11]:
profit_losses = list(budget_data_df["Profit/Losses"])
len(profit_losses)

86

In [41]:
profit_losses = list(budget_data_df["Profit/Losses"])

def get_changes(profit) :
    changes = []

    for n in range (1, len(profit_losses)-1):
        prev_numbers = profit_losses(n-1)
        current_num = profit_losses(n)
        change =  current_num - prev_numbers
        changes.append(change)
    return changes

print(changes)

NameError: name 'changes' is not defined

# The greatest increase in profits (date and amount) over the entire period

In [17]:
profit_losses = list(budget_data_df["Profit/Losses"])
size = len(profit_losses)

def maxDiff(profit_losses, profit_losses_size):
    max_diff = profit_losses[1] - profit_losses[0]
    min_element = profit_losses[0]
    
    for i in range( 1, profit_losses_size ):
        if (profit_losses[i] - min_element > max_diff):
            max_diff = profit_losses[i] - min_element
      
        if (profit_losses[i] < min_element):
            min_element = profit_losses[i]
    return max_diff

print ("Maximum difference is $", 
        maxDiff(profit_losses, size))

Maximum difference is $ 2362868

In [25]:
#Set variables
total_months = 0
total_revenue = 0
revenue = []
previous_revenue = 0
month_of_change = []
revenue_change = 0
greatest_decrease = ["", 9999999]
greatest_increase = ["", 0]
revenue_change_list = []
revenue_average = 0

In [ ]:

        #The greatest increase in revenue (date and amount) over the entire period
        if revenue_change>greatest_increase[1]:
            greatest_increase[1]= revenue_change
            greatest_increase[0] = row['Date']

        #The greatest decrease in revenue (date and amount) over the entire period
        if revenue_change<greatest_decrease[1]:
            greatest_decrease[1]= revenue_change
            greatest_decrease[0] = row['Date']
    revenue_average = sum(revenue_change_list)/len(revenue_change_list)

In [13]:
# Python 3 code to find Maximum difference
# between two elements such that larger 
# element appears after the smaller number
  
# The function assumes that there are 
# at least two elements in array.
# The function returns a negative 
# value if the array is sorted in 
# decreasing order. Returns 0 if 
# elements are equal
def maxDiff(arr, arr_size):
    max_diff = arr[1] - arr[0]
    min_element = arr[0]
      
    for i in range( 1, arr_size ):
        if (arr[i] - min_element > max_diff):
            max_diff = arr[i] - min_element
      
        if (arr[i] < min_element):
            min_element = arr[i]
    return max_diff
      
# Driver program to test above function 
arr = [1, 2, 6, 80, 100]
size = len(arr)
print ("Maximum difference is", 
        maxDiff(arr, size))
  
# This code is contributed by Swetank Modi

Maximum difference is 99

# The greatest decrease in losses (date and amount) over the entire period