In [1]:
import pandas as pd
from pathlib import Path

In [2]:
budget_data_csv = Path("Resources/budget_data.csv") 
budget_data_df = pd.read_csv(budget_data_csv)

In [3]:
budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
print(budget_data_df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [5]:
profit_losses = list(budget_data_df["Profit/Losses"])
print(profit_losses)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [6]:
date = list(budget_data_df["Date"])
print(date)

['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']

# The total number of months included in the dataset

In [7]:
# not including the column header
print(f"Total Months: {len(budget_data_df)-1}")

Total Months: 85

# The net total amount of Profit/Losses over the entire period

In [8]:
profit_losses = list(budget_data_df["Profit/Losses"])
print(profit_losses)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [9]:
sum_profit = 0

for x in budget_data_df["Profit/Losses"]:
    sum_profit += x
print(f" Net Total Amount of Profit/Losses over the entire period: \n ${sum_profit}")

 Net Total Amount of Profit/Losses over the entire period:
 $38382578

In [10]:
sum_profit = 0

for x in budget_data_df["Profit/Losses"]:
    sum_profit += x
sum_profit

38382578

In [11]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

# The average of the changes in Profit/Losses over the entire period

In [13]:
profit_losses = list(budget_data_df["Profit/Losses"])
len(profit_losses)

86

In [41]:
#create a list with the changes in profit/losses month by month
profit_losses = list(budget_data_df["Profit/Losses"])

def get_changes(profit) :
    changes = []

    for n in range (1, len(profit_losses)-1):
        prev_numbers = profit_losses[n]  #call elements in list with square brackets
        current_num = profit_losses[n+1]
        change =  current_num - prev_numbers
        changes.append(change)
    return changes

revenue_change = get_changes(profit_losses)
print(revenue_change)

[-662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [42]:
#sum total of the revenue_change list
sum_revenue_change = 0

for x in revenue_change:
    sum_revenue_change += x
sum_revenue_change

-313556

In [43]:
len(revenue_change)

84

In [44]:
average_changes_profit = sum_revenue_change/len(revenue_change)
print(f" Average changes in profit/losses over the period: \n ${average_changes_profit}")

 Average changes in profit/losses over the period:
 $-3732.809523809524

# The greatest increase in profits (date and amount) over the entire period

In [18]:
print(revenue_change)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242]

In [19]:
budget_data_df
profit_losses = list(budget_data_df["Profit/Losses"])

In [20]:
# creating a loop, if the change in one month is greater than MaxDiff, then MaxDiff = this new value, and so on until we go through the whole loop

revenue_change = get_changes(profit_losses)
size = len(revenue_change)

def maxDiff(revenue_change, revenue_change_size):
    max_diff = revenue_change[0]
    for i in range(1, revenue_change_size):
        if revenue_change[i] > max_diff:
            max_diff = revenue_change[i]
    return max_diff

print (f" Greatest increase in profits: \n ${maxDiff(revenue_change, size)}" )

 Greatest increase in profits:
 $1926159

In [21]:
# finding the index of the greatest increase

revenue_change.index(1926159)

24

## The greatest increase is between months 24 and 25, because the revenue change index 24 = profit_losses[25]-profit_losses[24]
## As a result, the month with the greatest increase is month 25

In [50]:
# finding the month corresponding to index 25

date = list(budget_data_df["Date"])
date[25]

'Feb-2012'

In [52]:
print (f" Greatest increase in profits: \n {(date[25])}: ${maxDiff(revenue_change, size)}" )

 Greatest increase in profits:
 Feb-2012: $1926159

# The greatest decrease in losses (date and amount) over the entire period

In [24]:
# same for loop, except we replace MinDiff with a new value if the new value < MinDiff
revenue_change = get_changes(profit_losses)
size = len(revenue_change)

def minDiff(revenue_change, revenue_change_size):
    min_diff = revenue_change[0]
    for i in range(1, revenue_change_size):
        if revenue_change[i] < min_diff:
            min_diff = revenue_change[i]
    return min_diff

print (f" Greatest decrease in profits: \n ${minDiff(revenue_change, size)}" )

 Greatest decrease in profits:
 $-2196167

In [25]:
# finding the index of the greatest decrease

revenue_change.index(-2196167)

43

## Same thing here, the revenue_change index 43 = profit_losses[44]-profit_losses[43]
## So the month incurring the greatest decrease is month [44] corresponding to profit_losses[44]

In [53]:
# finding the corresponding date of index 44

date = list(budget_data_df["Date"])
date[44]

'Sep-2013'

In [58]:
print (f" Greatest decrease in profits: \n {date[44]}: ${minDiff(revenue_change, size)}" )

 Greatest decrease in profits:
 Sep-2013: $-2196167

# Financial Analysis

In [28]:

print(f"Financial Analysis \n{'-'*50}")

Financial Analysis
--------------------------------------------------

In [29]:
print(f"Total Months: {len(budget_data_df)-1}")

Total Months: 85

In [31]:
print(f"  Total ${sum_profit}")

  Total $38382578

In [32]:
print(f" Average Change ${average_changes_profit}")

 Average Change $-8686.357142857143

In [57]:
print (f" Greatest Increase in Profits: {(date[25])} (${maxDiff(revenue_change, size)})" )

 Greatest Increase in Profits: Feb-2012 ($1926159)